
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
   
    <!--<link  href="STYLE.css" rel="stylesheet">-->
</head>
<body>
    <div class="bg" style="height: 130vh; background-color: crimson; margin-top: 1px;">
        <center>
        <br>
        <br>
        <br>
        <br>
        <h1><b> Pay Your Challan</b></h1>
        <h2><b>Fast. Secured. Reliable. Easy. </b></h2>
            <form action="/pay" method="post">
                <input type="submit" value="Buy">
            </form>
        </center>
    </div>

<img src="first.png">
</body>
</html>